body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #80deea, #9fa8da, #f48fb1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en múltiples filas */
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    width: 48%;
    margin-right: 20px;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.container:last-child {
    margin-right: 0;
}

h1, h2 {
    color: #333;
    text-align: center;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #999;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #388e3c;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2e7d32;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.result-container {
    display: none; /* Oculta por defecto */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #388e3c;
    color: white;
}

/* Responsive styles */
@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        align-items: center; /* Centra los contenedores en pantallas pequeñas */
    }
    .container {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .search-container {
        flex-direction: column;
    }
    .search-container input,
    .search-container button {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    body {
        padding: 1rem;
    }
    .container {
        padding: 1rem;
    }
    table {
        font-size: 14px;
    }
    th, td {
        padding: 5px;
    }
}
